.album__description {
  padding: 40px 0;

  p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #353535;
  }
}

.cover {
  width: 100%;

  img{
    width: 100%;
  }
}

.about {
  display: flex;
  padding: 40px;

  @include mq(mobile) {
    flex-direction: column;
  }

  .image {
    min-width: 400px;
    margin-right: 40px;

    @include mq(tablet) {
      min-width: 250px;
    }
    @include mq(mobile) {
      min-width: 100%;
      order: 1;
    }

    img {
      width: 100%;
    }
  }
}

.about__description {
  line-height: 24px;
  font-size: 18px;
  color: #353535;

  .content {
    &__image {
      max-width: 600px;

      img {
        width: 100%;
      }
    }
  }

  

  p {
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;

    li {
      padding: 10px 0;
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url(../../public/note.svg);
        position: absolute;
        left: 0px;
        top: 13px;
      }
    }
  }
}
