.album {
  display: flex;

  @include mq(mobile) {
    flex-direction: column;
  }

  &__image {
    position: relative;
    width: 40%;

    @include mq(tablet) {
      width: 50%;
    }

    @include mq(mobile) {
      width: 100%;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &__content {
    width: 60%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(tablet) {
      width: 50%;
    }

    @include mq(mobile) {
      width: 100%;
    }

    p {
      margin: 20px 0;
    }

    a {
      margin-top: 20px;
    }
  }
}
