header {
  color: white;

  .logo {
    display: none;
    text-align: center;

    @include mq(mobile) {
      display: block;
    }

    h1 {
      padding: 16px;
      letter-spacing: -1px;
      @include mq(mobile) {
        padding: 16px 0 10px;
      }
    }
  }

  nav {
    background: black;

    ul {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-title {
        text-transform: capitalize;
        @include mq(mobile) {
          display: none;
        }
      }

      li {
        a {
          font-family: $font-link;
          padding: 20px 20px;
          display: inline-block;

          @include mq(mobile) {
            padding: 4px 8px;
            margin: 0;
          }
        }
      }
    }
  }
}
