@mixin mq($size) {
  @if $size == mobile {
    @media (max-width: 766px) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $size == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == desktop-lg {
    @media (min-width: 1201px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}

h1 {
  font-family: $font-logo;
}

h2,
h3 {
  font-family: $font-link;
}

a {
  text-decoration: none;
  color: white;
}

ul,
ol {
  list-style: none;
}

p {
  line-height: 22px;
}

hr {
  margin: 20px 0 30px;
  border-color: rgba(21, 21, 21, 0.15);
}

.color-black {
  color: black;
  font-weight: bold;
}

.btn {
  border: 1px solid rgb(229, 229, 229);
  padding: 10px 20px;
  display: inline-block;
  color: black;
  transition: background-color 0.3s ease-in;
  margin-right: 16px;

  &:hover {
    background-color: rgb(229, 229, 229);
    transition: background-color 0.3s ease-in;
  }
}

.cta{
  background-color: rgb(56, 75, 138);
  color: white;

  &:hover {
    background-color: black;
  }
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  flex-direction: inherit;
}

.container-img {
  max-width: 1200px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  flex-direction: inherit;

  @include mq(tablet) {
    padding: 0;
  }
}
